streamlit==1.32.0
numpy==1.25.2
pandas==2.1.0
plotly==5.18.0
scikit-learn==1.3.0
shap==0.44.0
matplotlib==3.8.0
tensorflow-cpu==2.15.0
opencv-python-headless
geocoder
requests
Pillow
geopy
timezonefinder
pytz
